<div class="container">
  <mat-toolbar>
    <span>{{ operacion }}</span>
  </mat-toolbar>
  <mat-card class="crear-card">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="agregarUsuario()">
        <mat-grid-list cols="4" rowHeight="78px">
          <mat-grid-tile [colspan]="3" [rowspan]="5">
            <img
              src="../../../../../assets/img/user.png"
              width="250px"
              height="250px"
            />
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Apellido</mat-label>
              <input matInput formControlName="apellido" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>DNI</mat-label>
              <input matInput formControlName="dni" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Nacionalidad</mat-label>
              <input matInput formControlName="nacionalidad" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button
              mat-raised-button
              routerLink="/dashboard/usuarios"
              color="primary"
              class="m-r"
            >
              Volver
            </button>
            <button type="submit" mat-stroked-button>Acetar</button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
</div>
